.hg-border{
    border: 1px solid #e6b400;
}

.scroller{
    padding-bottom: 44px;
}

.markdown-wrap{
    img{
        max-width: 100%;
    }
    a{
        color: #886aea;
    }
    
}

code {
    background: #fdf6e3;
    color: #657b83;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: #333;
}

pre{
    background: #fdf6e3;
    border-radius: 6px;
    padding:0 6px;
    overflow: scroll;
    word-wrap: normal;
    white-space: pre;


}
.gutter pre{
    border-right: 1px solid #fff;
    text-align: right;
}

